*,
*::after,
*::before {
  font-family: 'Roboto', sans-serif;
}

a {
  border: none;
  text-decoration: none;
}

:where(.css-dev-only-do-not-override-1p3hq3p).ant-btn-text:not(:disabled):hover {
  background: transparent;
}
